.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.section-header {
  margin: 40px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  margin: 40px;
}

.button {
  margin: 20px;
}