.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 40px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
}

.button {
  margin: 20px;
}

.current-values {
  display: flex;
}

.value-field {
  margin: 20px;

}

.plot {
  user-select: none;
}